.header-content{
    align-items: center;
    /* position: absolute; */
    text-align: left;
    /* justify-content: center; */
    padding-left: 63px;
    padding-right: 49%;
    /* text-align-last: start; */
    display: inline-block;
}
.header-content h2{
    
font-size: 448%;
}
.header-content h2:before{

content: "";

background-color: black;

height: 18px;

width: 583px;

position: absolute;

z-index: -1;

bottom: 491px;
}
.btn{
    background-color: transparent;
    border: none;
    background-color: rgb(216, 34, 74);
    cursor: pointer;
}

.cats {
    position: absolute;
    display: flex;
    /* justify-content: right; */
    align-items: center;
    height: 101%;
    padding-right: -5%;
    margin-top: -42%;
    width: 252%;
    justify-content: center;
    right: -49%;
    top: 27%;
    padding-top: -26%;
    border-radius: 100;
}

.random_cats{
    width: 40%;
    display: flex;
}

img{
    max-width: 700px;
    height: 30rem;
}

.container1{
    background-color: aliceblue;
    height: 50%;
    width: 50%;
    display: flex;
    position: relative;
}