.header-content{
    position: relative;
    align-items: center;
    /* position: absolute; */
    text-align: left;
    /* justify-content: center; */
    padding-left: 63px;
    padding-right: 49%;
    /* text-align-last: start; */
    display: inline-block;
    gap: 2px;
}
.header-content h2{
    
font-size: 448%;
}
.header-content h2:before {
    content: "";
    background:linear-gradient(to top, red,rgb(237, 164, 27),rgb(141, 228, 53),rgb(34, 188, 231) );
    
    height: 93%; /* Adjust the height according to your design */
    width: 20px; /* Ensure full width */
    position: absolute;
    z-index: -1;
    bottom: 0; /* Align with the bottom of the parent container */
    padding-top: 31%;
    bottom: -117%;
    margin-left: -3%;
  }

.header-content h2{
    z-index: 1;
    font-size: 467%;}



.btn{
    background-color: transparent;
    border: none;
    background-color: rgb(216, 34, 74);
    cursor: pointer;
}

.cats {
    position: absolute;
    display: flex;

    /* justify-content: right; */
    align-items: center;
    height: 101%;
    padding-right: -5%;
    margin-top: -42%;
    width: 252%;
    justify-content: center;
    right: -49%;
    top: 27%;
    padding-top: -26%;
    border-radius: 100;


}

.random_cats{
    width: 52%;
    display: flex;
    margin-top: -15%;
}

img{
    max-width: 1000rem;
    height: 49rem;
    top: 38%;
    position: absolute;
    padding-top: -13%;
    /* width: 10%; */
}

.container1{
    background-color: aliceblue;
    height: 50%;
    width: 50%;
    display: flex;
    position: relative;
}

.APi-documentation{
    position: relative;
    padding-left: 5%;
    padding-bottom: 0%;
    padding-top: 41%;
    font-size: 24px;
    bottom: 13%;
    top: 78%;
}   

.footer {
    display: flex;
    margin-top: 343px;
    padding: 30px 0;
    font-size: 14px;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    position: absolute;
    align-items: center;
  }
  
  .footer .copyright {
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    
  }
  
  .footer .credits {
    padding-top: 6px;
    text-align: center;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.8);
  }
  
  .footer .credits a {
    color: var(--color-primary);
  }
  