#admin-login-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #381313;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .modal-content {
    padding: 20px;
    text-align: center;
    position: relative;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    color: #888;
    cursor: pointer;
  }
  
  .modal-content h2 {
    margin-bottom: 20px;
    color: #c7b6b66c;
  }
  
  .modal-content form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .modal-content label {
    margin-bottom: 10px;
  }
  
  .modal-content input {
    padding: 8px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .modal-content button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }

  .photo-item{
    display: flex;
    flex-direction: row;
    padding-right: 14%;
  }

  .photo-details{
    display: flex;
    flex-direction: row-reverse;
  }

  .photo-details1{
    position: relative;
    margin-left: 0%;
    right: -11%;
  }


  